.main{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5em 0 0  5em;
    padding: 4em;
    
}


@media screen and (max-width:800px) {
    .main{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 20%;
    }
}
